/*------------------top-----------------------*/

.w_960{width:960px; margin:0 auto;}
.top{background:url(../images/TOPLINE.jpg) repeat-x center top #333333; height:79px; padding-top:4px; margin-bottom:6px;}
.top_right{float:right; width:540px; height:79px;}
.top_nav{height:37px;}
.top_nav p{text-align:right; height:37px; line-height:37px;}
.top_nav p a{margin:0 0 0 15px; color:#fff;}
.top_search #text{background: url(../images/search_left.jpg) no-repeat left top; height:31px; width:371px; float:left; border:0; padding-left:60px; margin-right:10px;}
.top_left{float:left; width:336px; height:79px;}

/*___________center_________________-*/

/*left*/
.left{float:left; border:1px solid #e7e7e7; width:170px; margin-left:10px; margin-bottom:20px;}
.left .left_logo{ color:#333333; text-align:center; padding:10px 0; border-bottom:1px solid #e7e7e7;}
.left .left_logo img{border:1px solid #e7e7e7;}
.left .left_logo p{height:30px; line-height:30px;}
.left_guanzhu{background:url(../images/guanzhu_bg.jpg) no-repeat center center; height:30px; line-height:30px; text-align:center; color:#fff;}
.left_guanzhu{border-bottom:1px solid #e7e7e7;}



.directory{background:#fafafa;}
.Category{ height:30px; background:#5e5e5e; line-height:30px;}
.Category a{color:#fff; font-weight:bold; display:block; height:30px; text-indent:2em;}

 dl{padding:10px 0;}
 dl dt{height:30px; line-height:30px; }
 dl dd{height:24px; line-height:24px;}
 dl dt a{color:#454545; display:block; height:30px;text-indent:2em;}
 dl dd a{color:#454545; display:block; height:24px;text-indent:3em;}
 dl dt a:hover, dl dd a:hover{background:#e6e6e6;}

/*right*/
.huozhe{float:right; padding-right:20px;}
.t_r{text-align:right;}
.beizhu{ color:#999999;}
.right{float:left; width:771px; background:url(../images/right_top.jpg) no-repeat left top; padding-top:26px;color:#333;}
.right_top{height:47px; line-height:47px; border-bottom:1px solid #d3d3d3;}
.right_top h2{ font-size:14px; color:#333; text-indent:42px;}

.right_center_1{background:#f6f6f6;border-bottom:1px solid #d3d3d3;}
.right_center_1 input,.right_center_2 input{margin-right: 8px;}
.right_center_2{border-bottom:1px solid #d3d3d3; }
.right_center table{ line-height:50px;}
.xuanzeyinhang{ height:32px; padding:9px 0; line-height:32px;}
.xuanzeyinhang a{display:block; height:32px; }
.xuanzeyinhang a img{border:1px solid #d3d3d3;}
.xuanzeyinhang .xuanzelogo{width:121px; float:left; margin-right:30px;}
.xuanzeyinhang .xuanzeanniu{width:83px; line-height:32px; text-align:center; color:#333; float:left; background:url(../images/naniu.jpg) no-repeat center center;}
.bianjiqi{padding:20px 0;}
.dijiaoer{padding:20px 0;}
.tijiao{ display:block;width:139px; height:50px; background:#fdab0d; color:#fff; text-align:center; font-size:18px; font-weight:bold;}

/*--------------foot--------------------*/

.foot_1{height:180px; background:#2e3639;}
.foot_1 a{color:#fff;}
.foot_1 h2{font-size:16px; height:70px; line-height:70px;}
.foot_cen_1{width:200px; float:left; height:180px; padding-left:40px;}
.foot_cen_1 ul li{height:26px; line-height:26px;}
.foot_2{height:20px; background:#1e2629;}